<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />

    <!-- Compiled and minified JavaScript -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"
    ></script>
    <title>Can Dogs Eat?</title>
  </head>
  <body>
    <div class="container">
      <a href="/"><h1>Can Dogs Eat ___ ? </h1></a>
      <div>
        <form action="/search/" method="GET">
          <div class="input-field search">
            <input
              name="name"
              id="name"
              value="{{name}}"
              type="search"
              placeholder="Type food here"
              required
            />
            <i class="material-icons">X</i>
          </div>
        </form>
      </div>
      {{{body}}}
    </div>
  </body>
</html>