<div>
  <form>
    <div class="input-field search">
      <input id="search" type="search" placeholder="Type food here" required />
      <i class="material-icons">close</i>
    </div>
  </form>
</div>
<div>
  {{#if foods}}
    {{#each foods}}
      <p>{{name}}</p>
      <p>{{edible}}</p>
    {{/each}}
  {{else}}
    <p>
      Foods not available
    </p>
  {{/if}}
</div>